In [4]:
# change the value of download_files to True
# and then run this code cell if you want to
# download the required files for this project.

download_files = True
if download_files:
    import kagglehub
    download_path = kagglehub.dataset_download('robikscube/flight-delay-dataset-20182022')
    print("Path to dataset files:", download_path)
    !mv {download_path+'/*'} .

Downloading from https://www.kaggle.com/api/v1/datasets/download/robikscube/flight-delay-dataset-20182022?dataset_version_number=4...

100%|██████████| 3.73G/3.73G [01:03<00:00, 63.2MB/s]

Extracting files...

Path to dataset files: /Users/aishwaryadevi/.cache/kagglehub/datasets/robikscube/flight-delay-dataset-20182022/versions/4

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("Combined_Flights_2018.csv")
df_orig = df.copy()

# df

In [8]:
# df = df_orig.copy()

print(df.head(1).to_string())

df.shape

# print(type(df['FlightDate'][0]))

# for i in df.columns:
#     print(type(df[i][0]), i, df[i][0])

df

  FlightDate            Airline Origin Dest  Cancelled  Diverted  CRSDepTime  DepTime  DepDelayMinutes  DepDelay  ArrTime  ArrDelayMinutes  AirTime  CRSElapsedTime  ActualElapsedTime  Distance  Year  Quarter  Month  DayofMonth  DayOfWeek Marketing_Airline_Network Operated_or_Branded_Code_Share_Partners  DOT_ID_Marketing_Airline IATA_Code_Marketing_Airline  Flight_Number_Marketing_Airline Operating_Airline  DOT_ID_Operating_Airline IATA_Code_Operating_Airline Tail_Number  Flight_Number_Operating_Airline  OriginAirportID  OriginAirportSeqID  OriginCityMarketID OriginCityName OriginState  OriginStateFips OriginStateName  OriginWac  DestAirportID  DestAirportSeqID  DestCityMarketID DestCityName DestState  DestStateFips DestStateName  DestWac  DepDel15  DepartureDelayGroups DepTimeBlk  TaxiOut  WheelsOff  WheelsOn  TaxiIn  CRSArrTime  ArrDelay  ArrDel15  ArrivalDelayGroups ArrTimeBlk  DistanceGroup  DivAirportLandings
0 2018-01-23  Endeavor Air Inc.    ABY  ATL      False     False        1202   1157.0              0.0      -5.0   1256.0              0.0     38.0            62.0               59.0     145.0  2018        1      1          23          2                        DL                            DL_CODESHARE                     19790                          DL                             3298                9E                     20363                          9E      N8928A                             3298            10146             1014602               30146     Albany, GA          GA               13         Georgia         34          10397           1039707             30397  Atlanta, GA        GA             13       Georgia       34       0.0                  -1.0  1200-1259     14.0     1211.0    1249.0     7.0        1304      -8.0       0.0                -1.0  1300-1359              1                 0.0

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1210.0,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,1153.0,0.0,-9.0,...,1211.0,1251.0,11.0,1304,-2.0,0.0,-1.0,1300-1359,1,0.0
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,1150.0,0.0,-12.0,...,1207.0,1242.0,11.0,1304,-11.0,0.0,-1.0,1300-1359,1,0.0
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,1355.0,0.0,-5.0,...,1412.0,1448.0,11.0,1500,-1.0,0.0,-1.0,1500-1559,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,2018-09-11,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,1433.0,0.0,-12.0,...,1437.0,1512.0,3.0,1546,-31.0,0.0,-2.0,1500-1559,1,0.0
5689508,2018-09-11,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,1224.0,0.0,-11.0,...,1254.0,1337.0,7.0,1355,-11.0,0.0,-1.0,1300-1359,1,0.0
5689509,2018-09-11,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,1016.0,0.0,-14.0,...,1036.0,1130.0,7.0,1204,-27.0,0.0,-2.0,1200-1259,2,0.0
5689510,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,1403.0,0.0,-7.0,...,1428.0,1712.0,5.0,1726,-9.0,0.0,-1.0,1700-1759,3,0.0
5689511,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,1754.0,0.0,-6.0,...,1808.0,1904.0,15.0,1933,-14.0,0.0,-1.0,1900-1959,3,0.0

In [5]:
# null_values = df.isnull().sum()
# print(null_values.to_string())
# df.dropna(subset=['DepTime', 'ArrTime', 'AirTime'], inplace=True)
df.dropna(inplace=True)
print('Dropped', len(df_orig)-len(df), 'rows\nDF shape =', df.shape)

Dropped 110894 rows
DF shape = (5578618, 61)

In [17]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'])
print('Converted "FlightDate" values from str to date format')

Converted "FlightDate" values from str to date format

In [83]:
# print(df[df['OriginCityName'] == 'Cincinnati, OH'][['OriginCityName', 'OriginState']].to_string())
# df['OriginTempCol'] = [row[0] in row[1] for row in zip(df['OriginState'], df['OriginCityName'])]

# df[df['OriginTempCol'] == False][['OriginCityName', 'OriginState']]
# with open ('Preprocessing.txt', 'a+') as f:
#     f.write('sNo,colName,Type,PrepAction\n')
#     for (i, c) in enumerate(df_orig.columns):
#         f.write(f'{i+1},{c},{df_orig[c].dtype},\n')

# for col in df.columns:
#     print(col, len(df_orig[col].unique()))

sorted(df_orig['IATA_Code_Marketing_Airline'].unique())

['AA', 'AS', 'B6', 'DL', 'F9', 'G4', 'HA', 'NK', 'UA', 'VX', 'WN']

In [125]:
# print(df_orig.iloc[585993:586013, 22:30].to_string())

# temp_checking = df_orig.copy()
colremove = ['Cancelled', 'Diverted', 'DepTime', 'DepDelayMinutes', 'AirTime', 'Year', 'Quarter',
             'IATA_Code_Marketing_Airline', 'IATA_Code_Operating_Airline',
             'OriginAirportSeqID', 'OriginState', 'OriginStateFips', 'OriginWac',
             'DestAirportSeqID', 'DestState', 'DestStateFips', 'DestWac',
             'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'WheelsOff',
             'WheelsOn', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk']
# temp_checking.columns
# temp_checking.drop(colremove, axis=1, inplace=True)



print(temp_checking.sample(frac=0.00001).iloc[:6].to_string())

         FlightDate                 Airline Origin Dest  CRSDepTime  DepDelay  ArrTime  ArrDelayMinutes  CRSElapsedTime  ActualElapsedTime  Distance  Month  DayofMonth  DayOfWeek Marketing_Airline_Network Operated_or_Branded_Code_Share_Partners  DOT_ID_Marketing_Airline  Flight_Number_Marketing_Airline Operating_Airline  DOT_ID_Operating_Airline Tail_Number  Flight_Number_Operating_Airline  OriginAirportID  OriginCityMarketID       OriginCityName OriginStateName  DestAirportID  DestCityMarketID     DestCityName DestStateName  TaxiOut  TaxiIn  CRSArrTime  ArrDelay  DistanceGroup  DivAirportLandings
5354590  2018-09-12        Compass Airlines    SLC  LAS        1354      -5.0   1425.0              1.0            90.0               96.0     368.0      9          12          3                        DL                            DL_CODESHARE                     19790                             5812                CP                     21167      N628CZ                             5812            14869               34614   Salt Lake City, UT            Utah          12889             32211    Las Vegas, NV        Nevada     29.0     5.0        1424       1.0              2                 0.0
3316843  2018-04-29  Frontier Airlines Inc.    DEN  CVG         649      -6.0   1114.0              0.0           159.0              151.0    1069.0      4          29          7                        F9                                      F9                     20436                              646                F9                     20436      N308FR                              646            11292               30325           Denver, CO        Colorado          11193             33105   Cincinnati, OH      Kentucky     14.0     5.0        1128     -14.0              5                 0.0
451295   2018-01-15    Delta Air Lines Inc.    MCO  DTW         820      -1.0   1056.0              0.0           163.0              157.0     957.0      1          15          1                        DL                                      DL                     19790                             2877                DL                     19790      N593NW                             2877            13204               31454          Orlando, FL         Florida          11433             31295      Detroit, MI      Michigan     17.0     8.0        1103      -7.0              4                 0.0
788114   2018-10-07        Spirit Air Lines    FLL  LGA         707      -2.0   1004.0              0.0           178.0              179.0    1076.0     10           7          7                        NK                                      NK                     20416                              604                NK                     20416      N663NK                              604            11697               32467  Fort Lauderdale, FL         Florida          12953             31703     New York, NY      New York     18.0    21.0        1005      -1.0              5                 0.0
331607   2018-01-03         JetBlue Airways    MCO  DCA        1152       2.0   1354.0              0.0           127.0              120.0     759.0      1           3          3                        B6                                      B6                     20409                             2224                B6                     20409      N358JB                             2224            13204               31454          Orlando, FL         Florida          11278             30852   Washington, DC      Virginia     18.0    10.0        1359      -5.0              4                 0.0
3306676  2018-04-13   United Air Lines Inc.    DEN  SAT        1755      -3.0   2057.0              0.0           128.0              125.0     794.0      4          13          5                        UA                                      UA                     19977                             2029                UA                     19977      N76523                             2029            11292               30325           Denver, CO        Colorado          14683             33214  San Antonio, TX         Texas     22.0     3.0        2103      -6.0              4                 0.0

In [140]:
temp_checking[temp_checking['OriginCityMarketID'] == 30194]['Origin'].unique()

array(['DFW', 'DAL'], dtype=object)